[Unit]
Description=Service that keeps running the echo-server from startup.
After=network.target
StartLimitIntervalSec=0
[Install]
WantedBy=multi-user.target
[Service]
Type=simple
ExecStart=/home/mattv/Desktop/Git/IT-490/primaryFERabbitMQServer.php
Restart=always
RestartSec=5
